@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    width: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Pretendard-Regular';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    object-fit: cover;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
* {
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
}

.row {
    display: flex;
}
/* 모바일 버전 대비  */
.MobHead {
    display: none;
}

/* 버튼클릭시 움직임 */
/* 버튼클릭시 움직임 */
/* 버튼클릭시 움직임 */
/* 버튼클릭시 움직임 */
/* 버튼클릭시 움직임 */
/* 버튼클릭시 움직임 */
#wrap.hide {
    transition: 0.5s;
}
#wrap.hide #header {
    transition: 0.5s;
    left: 0%;
    transform: translateX(-100%);
}
#wrap.hide .menu {
    transition: 0.5s;
    transform: translateX(110px);
}
#wrap.hide #contents {
    margin-left: 110px;
    transition: 0.5s;
    width: calc(100% - 110px);
}
/* header */
#header {
    width: 23%;
    height: 100dvh;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 10;
    transform: translateX(0%);
}

/* header1 */
#header .header1 {
    width: 100%;
    height: 33.33vh;
}
#header .header1 .header1_top {
    width: 100%;
    height: 50%;
}
#header .header1 .header1_top .header1_top_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header1 .header1_top .header1_top_list li {
    border: 1px solid black;
    border-bottom: 0;
    box-sizing: border-box;
}

#header .header1 .header1_top .header1_top_list li:first-child {
    width: calc(100% - 110px);
    height: 100%;
    font-size: 1.5vw;
    padding: 6% 8%;
    border-left: 0px;
    border-top: 0px;
}
#header .header1 .header1_top .header1_top_list li:first-child em {
    display: block;
    /* padding-left: 30%; */
}
#header .header1 .header1_top .header1_top_list .menu {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

#header .header1 .header1_top .header1_top_list .menu_list {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#header .header1 .header1_top .header1_top_list .menu_list > div {
    width: 70%;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

#header .header1 .header1_bottom {
    width: 100%;
    height: 50%;
}
#header .header1 .header1_bottom .header1_bottom_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#header .header1 .header1_bottom .header1_bottom_list li {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin-top: -1px;
    padding: 2% 0 0 2%;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#header .header1 .header1_bottom .header1_bottom_list li a {
    font-size: 1.3vw;
    color: white;
}

#header .header1 .header1_bottom .header1_bottom_list li strong {
    font-weight: normal;
}
#header .header1 .header1_bottom .header1_bottom_list li em {
    font-weight: normal;
    font-size: 1.2vw;
}

#header .header1 .header1_bottom .header1_bottom_list li:first-child {
    background-color: black;
    color: white;
}

/* header2 */
#header .header2 {
    width: 100%;
    height: 33.33vh;
}
#header .header2 .header2_top {
    width: 100%;
    height: 50%;
}
#header .header2 .header2_top .header2_top_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header2 .header2_top .header2_top_list li {
    margin-top: -1px;
}
#header .header2 .header2_top .header2_top_list li:nth-of-type(1) {
    width: 68.6666%;
    height: 100%;
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 2% 0 0 2%;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
#header .header2 .header2_top .header2_top_list li:nth-of-type(1) em {
}

#header .header2 .header2_top .header2_top_list li:nth-of-type(2) {
    width: 34.4444%;
    height: 100%;
    border: 1px solid black;
    border-top: 0px;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header2 .header2_bottom {
    width: 100%;
    height: 50%;
}
#header .header2 .header2_bottom .header2_bottom_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header2 .header2_bottom .header2_bottom_list li {
    width: 34.3333%;
    height: 100%;
    border: 1px solid black;
    border-top: 0px;
    box-sizing: border-box;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2%;
}
#header .header2 .header2_bottom .header2_bottom_list li em {
}

#header .header2 .header2_bottom .header2_bottom_list li:nth-of-type(1) {
    border-right: 0px;
    border-left: 0;
    background-color: black;
    color: white;
}
#header .header2 .header2_bottom .header2_bottom_list li:nth-of-type(2) {
    margin-right: -1px;
    padding: 0;
    align-items: center;
}
#header .header2 .header2_bottom .header2_bottom_list li:nth-of-type(3) {
    border-left: 0;
    padding: 0;
    align-items: center;
}

/* header3 */
#header .header3 {
    width: 100%;
    height: 33.33vh;
}
#header .header3 .header3_top {
    width: 100%;
    height: 50%;
}
#header .header3 .header3_top .header3_top_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header3 .header3_top .header3_top_list li {
    width: 33.3%;
    height: 100%;
    border: 1px solid black;
    border-top: 0px;
    box-sizing: border-box;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 2%;
}
#header .header3 .header3_top .header3_top_list li:nth-of-type(1) {
    width: 33.33%;
    height: 100%;
    border-right: 0;
    border-left: 0;
}

#header .header3 .header3_top .header3_top_list li:nth-of-type(2) {
    width: 66.66%;
    height: 100%;
    font-size: 1.2vw;
}

#header .header3 .header3_bottom {
    width: 100%;
    height: 50%;
}
#header .header3 .header3_bottom .header3_bottom_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header3 .header3_bottom .header3_bottom_list li {
    box-sizing: border-box;
    padding: 2% 0 0 2%;
    font-size: 1vw;
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#header .header3 .header3_bottom .header3_bottom_list li a {
}

#header .header3 .header3_bottom .header3_bottom_list li:first-child {
    width: 70%;
    height: 100%;
    border-right: 0;
    background-color: white;
}
#header .header3 .header3_bottom .header3_bottom_list li:last-child {
    width: 30%;
    height: 100%;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 0;
}
#header .header3 .header3_bottom .header3_bottom_list li:last-child a {
    width: 100%;
    color: white;
    font-size: 1.2vw;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .header3 .header3_bottom .header3_bottom_list li em {
}
#header .header3 .header3_bottom .header3_bottom_list li em span {
}
#header .header3 .header3_bottom .header3_bottom_list li em strong {
}
#header .header3 .header3_bottom .header3_bottom_list li em strong span {
}

/* contents */
#contents {
    width: 77%;
    height: auto;
    margin-left: 23%;
    transition: 0.5s;
}

/* contents1 */
#contents > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    min-height: 80dvh;
}
#contents > div > div:first-child > ul > li {
    padding-left: 8%;
}
#contents div div:first-child ul:last-child > li {
    padding-left: 0;
}
#contents div div:first-child {
    width: 32%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contents div div:first-child ul {
    margin: 10px 0;
}

#contents div div:first-child ul:first-child {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
#contents div div:first-child ul:first-child li {
    font-size: 1.3vw;
}
#contents div div:first-child > ul:first-child li:first-child {
    font-size: 2vw;
    padding-left: 20px;
}
#contents div div:first-child > ul:first-child li:nth-of-type(2) {
    border-bottom: 1px solid black;
    padding-left: 5%;
}
#contents div div:first-child > ul:first-child li:nth-of-type(3) {
    font-size: 12px;

    padding-left: 5%;
    margin: 5px 0 0 0;
}

#contents div div:first-child ul:nth-of-type(2) {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
}
#contents div div:first-child ul:nth-of-type(2) li {
    font-size: 12px;

    text-align: justify;
    padding-left: 5%;

    margin: 1px 0;
}

#contents div div:first-child ul:nth-of-type(3) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}
#contents div div:first-child ul:nth-of-type(3) ul:first-child {
    width: auto;
    height: 100%;
}
#contents div div:first-child ul:nth-of-type(3) ul:first-child li {
    font-size: 14px;
    font-weight: bold;
    margin: 3px 0;
}

#contents div div:first-child ul:nth-of-type(3) ul:last-child {
    width: 75%;
    height: 100%;
}
#contents div div:first-child ul:nth-of-type(3) ul:last-child li {
    font-size: 14px;
    margin: 3px 0;
}
#contents div div:first-child ul:nth-of-type(4) {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-top: 20px;
}
#contents div div:first-child ul:nth-of-type(4) li {
    width: 50%;
    height: 100%;
    text-align: justify;
    border-top: 1px solid black;
}
#contents div div:first-child ul:nth-of-type(4) li:last-child {
    padding-left: 3%;
}

#contents div div:first-child ul:nth-of-type(4) li a {
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 5px;
    width: 100%;
    display: INLINE-BLOCK;
    height: 100%;
}

#contents div div:last-child {
    width: 68%;
    box-sizing: border-box;
    padding: 20px 10px;
}

#contents div div:last-child > ul {
    width: 100%;
    height: 100%;
}
#contents div div:last-child > ul li {
    width: 100%;
    height: 100%;
}
#contents div div:last-child > ul li video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: drop-shadow(1px 1px 2px #777);
}

/* pop */

#pop {
    width: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border: 1px solid #666;
    transition: 0.5s;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}
#pop .pop_head {
    width: 100%;
    padding: 3% 5% 3%;
    border-bottom: 1px solid #666;
}
#pop .pop_head ul {
    width: 100%;
    height: 100%;
}
#pop .pop_head ul li {
    font-size: 16px;
}
#pop .pop_head ul li:first-child {
    font-size: 25px;
    font-weight: bold;
}

#pop .pop_cont {
    width: 100%;
    padding: 0% 4%;
    margin: 20px 0;
}
#pop .pop_cont ul {
    width: 100%;
    height: 100%;
}
#pop .pop_cont ul li {
    font-size: 13.5px;
    text-align: justify;
    margin-top: 5px;
}
#pop .pop_cont ul li:first-child {
    margin: 20px 0;
    font-size: 13.5px;
}
#pop .pop_cont ul li:nth-of-type(4) {
    display: flex;
    align-items: center;
}

#pop .pop_cont ul li:last-child {
    margin: 20px 0;
}

#pop .pop_cont ul li span {
    font-size: 20px;
    line-height: 0.5;
}

#pop .pop_btn {
    width: 100%;
    height: 10%;
    border-top: 1px solid rgb(255, 255, 255);
    background-color: black;
}
#pop .pop_btn ul {
    width: 100%;
    height: 100%;
    display: flex;
}
#pop .pop_btn ul li {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    color: white;
}

#pop .pop_btn li:hover {
}

/* 모바일 비디오 on off */
/* 모바일 비디오 on off */
/* 모바일 비디오 on off */
/* 모바일 비디오 on off */
/* 모바일 비디오 on off */
.MobVd {
    display: none;
}
